@import 'tailwindcss';

.top-indicator{ border: 1px solid; padding: 6px; width: 100px; border-radius: 4px;}
.function{ border: 1px solid; padding: 6px;}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}